@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import 'utils.scss';

.my__description {
  @media (max-width: 600px) {
    padding: $defaultPaddingMob;
  }

  .span__animation__right {
    display: none;
  }

  .sub_title {
    font-family: "Raleway";
    font-size: $titleFontSize;
    color: #173b6c;
    @include underline(0);
    @media (max-width: 600px) {
      font-size: $titleFontSizeMob;
    }
  }

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: $defaultPadding;
  background-color: lightyellow;

  p {
    font-family: "Open Sans", sans-serif;
  }
}