.me {
  width: 100vw;
  height: 100vh;
  background-image: url("../public/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .image__me {
    border-radius: 50%;
  }

  @media (max-width: 600px) {
    height: 50vh;
    
    > div {
      position: relative;
      top: 50%;
      margin: 0 15px !important;
    }
  }
}

